.login {
    background-color: $light;
    display: flex;
    min-height: 100%;
    min-width: 100%;

    .frame {
        padding: 60px 80px 80px;
        margin: auto;
        background-color: $white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo {
            width: 170px;
            height: 40px;
        }

        &__title {
            font-size: 32px;
            font-weight: 700;
            color: $black;
            margin-top: 40px;
        }

        .form {
            &__button {
                margin: 40px auto 0;
                width: 140px;
            }
        }
    }
}